html, body {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-weight: 100;
  font-size: 1em;
  padding: 0;
  margin: 0;
  height: 100%;
}

a {
  color: #4477a1;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
  *zoom: 1;
}

.vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

.page-header {
  box-sizing: border-box;
  border-bottom: 1px solid #ccc;
  background-color: rgb(234, 233, 230);
  position: relative;
  height: 5%;
}

.page-title {
  text-align: center;
  font-size: 1em;
  margin: 0;
}

.page-header .toolbar {
  position: absolute;
  right: 0;
}

.main-section {
  width: 70%;
  float: left;
  box-sizing: border-box;
  padding: 0 1em;
  height: 90%;
}

.main-section .timeline {
  height: 100% !important;
}

.main-section .timeline > li {
  display: inline-block;
  position: relative;
  font-size: .8em;
  margin-bottom: .5em;
  padding-top: 0;
}

.main-section .timeline > li > .label {
  visibility: hidden;
  text-align: center;
}
.main-section .timeline > li:first-of-type > .label {}
.main-section .timeline > li.thousand .label,
.main-section .timeline > li.hundred .label,
.main-section .timeline > li.decade .label,
.main-section .timeline > li.year-one .label {
  visibility: visible;
}
.main-section .timeline > li.thousand::after,
.main-section .timeline > li.hundred::after,
.main-section .timeline > li.decade::after,
.main-section .timeline > li.year-one::after {
  height: 1em;
}
.main-section .timeline > li::before {
  content:'';
  display: block;
  width: 100%;
  background-color: #ccc;
  margin-bottom: 20px;
  height: 0;
}
.main-section .timeline > li::after {
  content:'';
  display: inline-block;
  width: 1px;
  height: .5em;
  background-color: #666;
  position: absolute;
  top: 0;
  left: 0;
  position: absolute;
}
.main-section .timeline > li:hover {
  cursor: pointer;
  font-weight: bold;
  color: inherit;
}
.main-section .timeline > li:hover > .label {
  visibility: visible;
}
.main-section .timeline > li:hover::before,
.main-section .timeline > li:hover::after {
  background-color: none;
}
.main-section .timeline > li:hover::after {
  height: 1em;
}
.main-section .events > li:hover {
  cursor: pointer;
  background-color: #ccc !important;
}
.main-section .events > li.highlight {
  border: none;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
.main-section .events > li {
  line-height: 30px;
}

.sidebar {
  width: 30%;
  float: right;
  box-sizing: border-box;
  padding: 1em;
  background-color: rgb(242, 241, 239);
  height: 90%;
  overflow: scroll;
}

.page-footer {
  box-sizing: border-box;
  position: absolute;
  padding: .5em;
  bottom: 0;
  height: 5%;
  width: 100%;
  border-top: 1px solid #ccc;
  background-color: rgb(234, 233, 230);
}

.page-footer p {
  font-size: .6em;
  margin: 0;
  color: #999;
}

.toolbar {}

.toolbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.toolbar ul > li {
  display: inline-block;
  padding: 0 .5em;
  color: #999;
}

.toolbar ul > li:hover {
  cursor: pointer;
  color: #4477a1;
}

.tabs {

}

.tabs ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.tabs ul > li {
  display: inline-block;
  margin-right: 1em;
}

.tabs ul > li > a {
  color: #999
}

.tabs ul > li > a.active {
  color: #4477a1;
}

.tabs ul > li > a:hover {
  text-decoration: none;
  color: #4477a1;
}

.sidebar #search {
  box-sizing: border-box;
  width: 100%;
  font-size: 1em;
  margin-top: 1em;
}

#events-list ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

#events-list ol > li .title {
  margin-bottom: 0;
  font-weight: normal;
  color: #4477a1;
}

#events-list ol > li .title:hover {
  cursor: pointer;
  text-decoration: underline;
}

#events-list ol > li .date {
  font-size: .8em;
  color: #999;
}

#events-list ol > li .description {
  margin-top: .5em;
}

#events-list ol > li.visible {
  display: list-item;
}

#event-details > * {
  visibility: hidden;
}

#event-details.hasContent > * {
  visibility: visible;
}

#event-details.hasContent .alert {
  display: none;
}

#event-details .alert {
  color: #ccc;
  visibility: visible;
  display: block;
}

#event-details .title {
  font-weight: normal;
  margin-bottom: 0;
}

#event-details .start,
#event-details .end {
  font-size: .8em;
  color: #999;
  margin: 0;
}

#event-details .references {}

#event-details .label {
  background-color: #ccc;
  display: inline-block;
  box-sizing: border-box;
  margin: .5em;
  padding: .2em .4em;
  font-size: .8em;
  font-weight: bold;
  border-radius: .5em;
}
