.timeline, .events {
  margin: 0;
  padding: 0;
}
.timeline {
  white-space: nowrap;
  overflow: scroll;
  position: relative;
  height: 100%;
}
.timeline > li {
  display: inline-block;
  position: relative;
  padding-top: 10px;
}
.timeline > li > .label {
  visibility: hidden;
}
.timeline > li::before {
  content:'';
  display: block;
  width: 1005;
  height: 3px;
  background-color: #ccc;
  margin-top: 9px;
  margin-bottom: 20px;
}
.timeline > li::after {
  content:'';
  display: inline-block;
  width: 3px;
  height: 20px;
  background-color: #666;
  position: absolute;
  top: 10px;
  left: 0;
  position:absolute;
}
.timeline > li:hover {
  cursor: pointer;
  color: red;
}
.timeline > li:hover > .label {
  visibility: visible;
}
.timeline > li:hover::before, .timeline > li:hover::after {
  background-color: red;
}
.timeline > li:hover::after {
  height: 30px;
  top: 5px;
}
.events {
  position: relative;
}
.events > li {
  background-color: #eee;
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 .5em;
  box-sizing: border-box;
}
.events > li:hover {
  cursor: pointer;
  background-color: #ccc;
}
.events > li.highlight {
  border: 2px solid red;
}
